@import "//cdn.jsdelivr.net/npm/font-kopub@1.0";


body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    height: 100vh;
    margin: 0;
    font-family: 'KoPub Batang', Arial, sans-serif;
}

.box {
    background-color: #5E6472;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #FAF3CD;
    font-size: 22px;
    margin: 0;
}

p {
    color: #FAF3CD;
    font-size: 14px;
    margin: 5px 0 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-size: 12px;
    color: #FAF3CD;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    box-sizing: border-box; 
    border: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 14px;
}

.button{
    width: 100%;
    padding: 6px;
    background-color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.button p{
    font-family: KoPub Batang, Arial, sans-serif;
    color: white;
    font-size: 12px;
    text-align: center;
    margin-bottom: 3px;
}

h2{
    color: #FAF3CD;
    font-size: 12px;
    text-align: center;
    padding: 10px;
}

h2 a{
    color: white;
    text-decoration: none;
}

h2 a:hover{
    text-decoration: underline;
}